body {
    background-color: #1a1a2e;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #1a1a2e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: #bbb;
}

.login-submit-btn {
    background-color: #28DF99;
    color: #333;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.forgot-password {
    margin-top: 15px;
    font-size: 14px;
}

.forgot-password a {
    color: #28DF99;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
